
    <div data-role="panel" id="shlpdialog" data-position="right" data-display="overlay" min-height="0px"
        data-dismissible="true" data-theme="b" class="ui-panel ui-panel-position-right ui-panel-display-overlay ui-body-b ui-panel-animate ui-panel-closed">
        <div class="ui-panel-inner">
            <div class="panel-content">
                <h3 id="shlpheadtext" data-role="header" class="ui-header">
                    {HELP}
                </h3>
                <div id="shlpcontenttext" data-role="content" data-theme="f" style="text-align: center"
                    class="ui-content">
                    <h2>
                        {HELP TEXT HERE}
                    </h2>
                </div>
                <a href="#demo-links" data-rel="close" data-role="button" data-theme="a" data-icon="delete"
                    data-inline="true" class="ui-link ui-btn ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline ui-shadow ui-corner-all"
                    role="button">Close panel</a>
            </div>
        </div>
        <!-- /content wrapper for padding -->
    </div>

    <script language="javascript">
        function showHelp(header, content, image, highVis) {
            $('#shlpheadtext').html('Help - ' + header);
            $('#shlpcontenttext').html(content);
            if (highVis) {
                $('#shlpheadtext').addClass('highVis');
                $('#shlpcontenttext').addClass('highVis');
                $('#shlpfootertext').addClass('highVis');
            }
            $('#shlpdialog').panel('open');
        }

        function hideStandardHelpDialog() {
            //var ticker = $.connection.patientCalling;
            //ticker.server.messageShown(id.toString());
            //moved to signalr.patientcalling.js and not called until after transition
            $('#shlpdialog').panel("close");
        }
    </script>
