<div data-role="content" id="helpContainer">
    <div id="shlpdialog" data-role="popup" data-transition="slide" history="false" data-overlay-theme="f"
        data-theme="f" data-history="false" class="ui-content">
        <a href="#" data-rel="back" data-role="button" data-theme="f" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <div id="shlpheadtext" data-role="header" data-theme="f" >
            {HELP}
        </div>
        <div id="shlpcontenttext" style="text-align: center">
            {HELP TEXT HERE}
        </div>
    </div>
</div>
<script language="javascript">
    function showHelp(header, content, image, highVis) {
    $('#shlpheadtext').html('Help - ' + header);
    $('#shlpcontenttext').html(content);
    if (highVis) {
        $('#shlpheadtext').addClass('highVis');
        $('#shlpcontenttext').addClass('highVis');
        $('#shlpfootertext').addClass('highVis');
    }
    $('#shlpdialog').popup('open');
}

function hideStandardHelpDialog() {
    //var ticker = $.connection.patientCalling;
    //ticker.server.messageShown(id.toString());
    //moved to signalr.patientcalling.js and not called until after transition
    $('#shlpdialog').popup("close");
}
</script>