<div class="applicationKeyboard">

    <div class="container_12 row1" data-theme="b">
	    <div class="grid_1"><a href="#" data-role="button" data-inline="false" data-mini="true" data-theme="b">1</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-inline="false" data-mini="true" data-theme="b">2</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-inline="false" data-mini="true" data-theme="b">3</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-inline="false" data-mini="true" data-theme="b">4</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-inline="false" data-mini="true" data-theme="b">5</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-inline="false" data-mini="true" data-theme="b">6</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-inline="false" data-mini="true" data-theme="b">7</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-inline="false" data-mini="true" data-theme="b">8</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-inline="false" data-mini="true" data-theme="b">9</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-inline="false" data-mini="true" data-theme="b">0</a></div>
    </div>
    <div class="container_12 row2" data-theme="b">
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">Q</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">W</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">E</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">R</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">T</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">Y</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">U</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">I</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">O</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">P</a></div>
    </div>
    <div class="container_12 row3" data-theme="b">
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">A</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">S</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">D</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">F</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">G</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">H</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">J</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">K</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">L</a></div>
    </div>
    <div class="container_12 row4" data-theme="b">                
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">Z</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">X</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">C</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">V</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">B</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">N</a></div>
	    <div class="grid_1"><a href="#" data-role="button" data-mini="true" data-theme="b">M</a></div>
    </div>

    <div class="container_12 row5" data-theme="b">
        <div class="grid_5">
            <div class="spacebarButtonContainer">
                <input type="button" data-mini="false" data-theme="b" value="&nbsp;" />
            </div>
        </div>
    </div>

</div>

