<div class="applicationKeyboard">

    <div class="ui-grid-b">
	    <div class="ui-block-a"><a href="#" data-role="button" data-theme="b">1</a></div>
	    <div class="ui-block-b"><a href="#" data-role="button" data-theme="b">2</a></div>
	    <div class="ui-block-c"><a href="#" data-role="button" data-theme="b">3</a></div>
	    <div class="ui-block-a"><a href="#" data-role="button" data-theme="b">4</a></div>
	    <div class="ui-block-b"><a href="#" data-role="button" data-theme="b">5</a></div>
	    <div class="ui-block-c"><a href="#" data-role="button" data-theme="b">6</a></div>
	    <div class="ui-block-a"><a href="#" data-role="button" data-theme="b">7</a></div>
	    <div class="ui-block-b"><a href="#" data-role="button" data-theme="b">8</a></div>
	    <div class="ui-block-c"><a href="#" data-role="button" data-theme="b">9</a></div>
        <div class="ui-block-a"></div>
	    <div class="ui-block-b"><a href="#" data-role="button" data-theme="b">0</a></div>
        <div class="ui-block-c"></div>
    </div>

</div>