@{
    ViewBag.Title = "Authentication Failed";
}

<h2>Authentication Failed</h2>

Unfortunately we were unable to authorise you. If you think you may have entered some incorrect information you can <a href="@Url.Action("Index", "Home")">start again</a>