@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul data-role="listview" data-inset="true">

    <li>
        <a href="@Url.Action("DataReset")">
        <h3>Clear Data</h3>
        <p>Executes data reset, removes exising patients, visits and visitappointments from respective tables and updates bpoutpat to provide a variety of appointment dates in the future</p>
        </a>
    </li>
    <li>
        @Html.ActionLink("Start Manual Import - Service Now Available", "ManualImport")
    </li>
    <li>
        @Html.ActionLink("View Data", "ViewImportedData")
    </li>
    

</ul>